{% load static %}
{% load multiply %}
{% load gettotal %}

<div class="small-container cart-page">

    {% if cart and cart.added_items.all %}

    <table>
        <tbody>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for cart_item in cart.added_items.all %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{ cart_item.product.image.url }}" alt="">
                        <div>
                            <p>{{ cart_item.product.title }}</p>
                            <small>Price: ${{ cart_item.product.price }}</small>
                            <br>
                            <a href="{% url 'remove_item' cart_item.id %}">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" disabled value="{{ cart_item.quantity }}"></td>
                <td>${% multiply cart_item.product.price cart_item.quantity %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="total-price">
        <table>
            <tbody>
                <tr>
                    <td>Subtotal</td>
                    <td>${% gettotal cart 0 %}</td>
                </tr>
                {% with tax_rate=18 %}
                <tr>
                    <td>Tax</td>
                    <td>{{ tax_rate }} %</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>${% gettotal cart tax_rate %}</td>
                </tr>

                <tr>
                    <td colspan="2">
                    <td></td>

                    <td>
                        <form action="{% url 'checkout' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="total" value="{% gettotal cart tax_rate %}" />
                            <button class="btn" type="submit">CheckOut</button>
                        </form>
                    </td>
                    </td>
                </tr>
                {% endwith %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="empty-cart">
        <p>Your cart is empty</p>
    </div>
    {% endif %}
</div>